/* set margin of 10px for all interface elements and all divs */
button,
div,
form,
input {
    margin: 10px;
}

/* set width and positioning to base container */
#container {
    max-width: 960px;
    margin:auto;
    display: block;
}

 