
body
{
    background-image: url("../images/gifImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*Color: white;
    clear:right;*/
}

button {
    margin: auto;
}

div,
form
 {
    margin: 10px;
}

input {
    margin-bottom: 10px;
}

/* set width and positioning to base container */
#container {
/*    max-width: 960px; */
    margin:auto;
/*    display: block; */
}

/* set background color for entire page */
body{
    background-color: rgb(242, 248, 246);
  }

.topicGif
/*.input*/
{
    float:left;
}

.clearfix {
    overflow: auto;
  }

input {
/*    margin:auto; */
      text-align: center;  
}

button
.btn 
.btn-primary {
    
    margin-left: 15px;
    border: 1px solid black;
}
#images-anchor{
    width:860px;
    float: left;
    position: relative;
}
#addTopicForm{
    width: 100px;
    float: right;
    position: relative;
    display: inline-block;
    margin-right:auto;
    margin-left:auto;
}